body
{
    background-color: crimson;
}

.myTable
{
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.initRow
{
    font-weight: bold;
    border: 1px solid black;
}